.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #9c2d78;
    color: white;
}

.header h1 {
    font-size: 1.5rem;
    margin: 0;
}

.header ul {
    display: flex;
    align-items: center !important;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header ul li {
    display: flex;
    align-items: center;
}


.header ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.header ul li a:hover {
    text-decoration: underline;
}


/** For responsive design **/
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  .header ul li a {
    padding: 5px 0;
  }
}
